services:
  db:
    image: pgvector/pgvector:pg18-trixie ## Postgres with pgvector extension
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: main
    ports:
      - "5432:5432"
    restart: unless-stopped